{% trans_default_domain 'FOSUserBundle' %}


<div class="row">

    <div class="col-xs-12 col-sm-3">
        {% include "UtilisateursBundle:Default:modulesUsed/utilisateursConnecte.html.twig" %}
    </div>

    <div class="col-xs-12 col-sm-9">
        <h2>Mes informations</h2>
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    </div>
</div>

<div class="fos_user_user_show">

</div>
