{% trans_default_domain 'FOSUserBundle' %}

<div class="row">

    <div class="col-xs-12 col-sm-3">
        {% include "UtilisateursBundle:Default:modulesUsed/utilisateursConnecte.html.twig" %}
    </div>

    <div class="col-xs-12 col-sm-9">
        <h2>Modifier mon mot de passe</h2>
        <div class="col-xs-12 col-sm-4">

            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>


