body {
    padding-bottom: 40px;
    padding-top: 60px;
}

.loading{
    float:right;
    width: 30px;
    height: 30px;
    display: block;
    background: url('../img/loading.gif');
    margin-right: 30%;
}