<div class="span3">

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('admin_produits_index') }}">Produits</a>
            </li>
            <li>
                <a href="{{ path('admin_categories_index') }}">Catégories produits</a>
            </li>
        </ul>
    </div>

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="ajout-edit.php">Clients</a>
            </li>
            <li>
                <a href="{{ path('admin_commandes_index') }}">Commandes</a>
            </li>
        </ul>
    </div>

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('admin_pages_index') }}">Pages</a>
            </li>

        </ul>
    </div>    
</div>